target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.classpath
.project
.vscode
image-service/.settings
data-model/.settings
common/.settings
local-client/*.bat
local-picture-repo/*.bat
local-picture-repo/*.db
local-picture-repo/src/main/java/com/metapx/local_picture_repo/database/jooq
sample-images/
